.counter-plus-sign {
    position: absolute;
    margin-top: -60px;
    margin-left: 70px;
    font-size: 30px;
    font-weight: bolder;
}

#stats {
    display: none;
}

#contact {
    display: none;
}

.read-more,
.read-less {
  color: #007bff;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  margin-left: 5px;
}

.read-more:hover,
.read-less:hover {
  color: #0056b3;
}

.hide {
    display: none;
}